.header {
    outline: 1px solid #ececec;
}

.logo {
    font-family: Raleway;
    font-size: 24px;
    line-height: 1.17;
    color: var(--logo-color);
    margin-right: auto;

    @media screen and (min-width:1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.accent {
    color: var(--accent-color);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container {
    @media screen and (max-width:767px) {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-white-color);
        overflow-y: scroll;
        z-index: 2;

        &.is-open {
            display: flex;
        }
    }
}

.menu-mobie-container {
    @media screen and (max-width:767px) {
        position: relative;
        width: 480px;
        padding-top: 48px;
        padding-right: 83px;
        padding-bottom: 48px;
        padding-left: 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu-container-button {
    position: absolute;
    top: 8px;
    right: 15px;
    margin-left: auto;
    padding: 0;
    background-color: var(--primary-white-color);
    border: 1px solid transparent;

    @media screen and (min-width:768px) {
        display: none;
    }
}


.menu-mobile-button {
    padding: 0;
    margin-left: auto;
    background-color: var(--primary-white-color);
    border: 1px solid transparent;

    @media screen and (min-width:768px) {
        display: none;
    }

    // @media screen and (max-width:767px) {
    //     margin-bottom: 302px;
    // }
}

.icon-mobile-close {

    .menu-mobile-button:hover &,
    .menu-mobile-button:focus & {
        fill: var(--accent-color);
    }

    .menu-mobile-button & {
        display: none;
    }

    .menu-mobile-button.is-open & {
        display: block;
    }
}

.icon-mobile-open {

    .menu-mobile-button:hover &,
    .menu-mobile-button:focus & {
        fill: var(--accent-color);
    }

    .menu-mobile-button.is-open & {
        display: none;
    }
}

.site-nav {
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link {
        display: block;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width:768px) {
            font-size: 14px;
            line-height: 1.14;
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    .item + .item {
        @media screen and (max-width: 767px) {
            margin-top: 32px;
        }
    
        @media screen and (min-width: 768px) {
            margin-left: 50px;
        }
    }

    .link.current {
        color: var(--accent-color);

        &::after {
            position: absolute;
            display: block;
            content: '';
            bottom: 0;
            right: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #2196F3;
        }
    }

    .item {
        @media screen and (min-width: 768px) {
            position: relative;
        }
    }
}

.contacts {
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100%;
    }

        
    @media screen and (max-width: 767px) {
        margin-top: auto;
        margin-bottom: 64px;
    }

    @media screen and (min-width: 768px) {
        margin-left: 84px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 305px;
    }

    .item {
        fill: currentColor;
        @media screen and (max-width:767px) {
            margin-bottom: 32px;
        }
    }

    .icon-contacts {
        display: none;
        
        @media screen and (min-width:768px) {
            display: inline-block;
            margin-right: 10px;
            fill: currentColor;
        }

        &:hover {
            fill: var(--accent-color);
        }
    }

    .link {
        // display: inline-flex;
        // align-items: center;
        // padding-top: 32px;
        // padding-bottom: 32px;
        font-weight: 500;
        // font-size: 14px;
        // line-height: 1.14;
        letter-spacing: 0.02em;
        // color: var(--primary-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            display: inline-flex;
            justify-content: start;
            align-items: center;
            font-size: 14px;
            line-height: 1.14;
        }
    
        @media screen and (min-width: 1200px) {
            display: inline-flex;
            justify-content: start;
            align-items: center;
            height: 100%;
            font-size: 14px;
            line-height: 1.14;
        }
    }

    .item + .item {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-top: 10px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-left: 50px;
            height: 100%;
        }
        
    }
}

.link-tel {
    font-size: 34px;
    line-height: 1.17;
    color: var(--accent-color);

    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 1.16;
        color: var(--primary-text-color);
    }

    @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.link-email {
    font-size: 24px;
    line-height: 1.16;
    color: var(--primary-text-color);

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 1.14;
        margin-bottom: 0;
    }
}

.social-networks {
    display: none;

    @media screen and (min-width: 280px) and (max-width: 767px) {
        display: inline-flex;
        justify-content: start;
        align-items: center;
    }
}

.social-networks-item {
    margin-top: 10px;

    &+& {
        border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.social-networks-item:last-child {
    @media screen and (min-width: 358px) and (max-width: 449px) {
        border-left: none;
    }
}

.social-networks-item:nth-child(3) {
    @media screen and (min-width: 280px) and (max-width: 356px) {
        border-left: none;
    }

    @media screen and (min-width: 357px) and (max-width: 449px) {
        border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.social-networks-link {
    display: inline-block;
    text-decoration: none;
    padding: 0 10px;
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}