.modal {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    min-height: 581px;
    min-width: 528px;

    @media screen and (max-width: 479px) {
        width: calc(100vw - 80px);
    }
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &-item {
        display: flex;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: inherit;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:hover .icon-modal,
        &:focus .icon-modal {
            fill: var(--accent-color);
        }
    }
}

.icon-modal {
    position: absolute;
    fill: var(--logo-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 0;

    @media screen and (max-width: 479px) {
        width: calc(100vw - 80px);
    }

    &-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: var(--title-text-color);
        margin-bottom: 12px;

        @media screen and (min-width: 1200px) {
            line-height: 1.16;
        }
    }   
}

.form-group-field {
    width: 100%;
    font-size: 16px;
    line-height: 1.125;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    padding: 0;
    margin-bottom: 4px;
}

.form-field {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.form-field:focus-within > .icon-input {
    fill: var(--accent-color);
}

.icon-input {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: var(--title-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
    width: 100%;
    min-height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    color: var(--primary-text-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-within {
        border: 1px solid #2196F3;
    }
}

.form-textarea {
    display: block;
    width: 100%;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: var(--primary-text-color);
    padding: 12px 16px;
    margin: 0;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-within {
        border: 1px solid #2196F3;
    }
    
    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
}

.form-contract-label {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 24px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);

    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.16;
    }
}

.form-contract-link {
    text-decoration: underline;
    color: var(--accent-color);
}

.icon-contract-check {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .icon-contract-check {
    opacity: 0;
}

.icon-contract-checked {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    fill: var(--accent-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-contract-label:focus-within>.icon-contract-checked,
.checkbox:checked ~ .icon-contract-checked {
    opacity: 1;
}


.checkbox:focus-visible ~ .icon-contract-checked {
    outline-offset: 2px;
    outline: 2px solid #000000;
    border-radius: 1px;
}

.form-modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--button-hover-color);
    }
}