:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --button-hover-color: #188CE8;
    --primary-white-color: #FFFFFF;
    --secondary-white-color: #F5F4FA;
    --address-link-color: rgba(255, 255, 255, 0.6);
    --logo-color: #000000;
    --herofooter-bg-color: #2F303A;
    --icons-primary-color: #afb1b8;
    --footer-social-color: rgba(255, 255, 255, 10%);
}